
{% extends "Template1.html" %}
{% block title %}
{{extra.titulo}}
{%block content%}
<h1>Eliminar Articulo</h1>
<br></br>
<h3>{{extra.categoria}}:{{object}}</h3>
<div class="form-group">
<form action="" method="post" enctype="multipart/form-data">
    
    {%csrf_token%}
    <div class="alert alert-warning" role="alert">
        esta a punto de eliminar este {{extra.categoria}}(esta accion no se puede deshacer)
      </div>
<input class="btn btn-secondary" type="submit" value="Eliminar"> 
</form>
</div>
{%endblock%}