
{% extends "Template1.html" %}
{% block title %}
Inicio
  {% endblock %}
{%block content%}


    
    
    
  <h2>Sistemas Cuentas por pagar</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">
              {% if user.is_authenticated %}
              <a href="{% url 'menu'  %}">Empezar</a>
                {%else%}
                <a href="{% url 'login'  %}">Empezar</a>
                {%endif%}
            </h4>
            <p class="card-text">Registro y gestion de deuda con mantenimiento de roles y elementos menu.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
     
      </div>
    
      
      
    </div>

  {%endblock%}